/* Water.cssを上書き */
nav#TOC {
  width: 200px; /* 目次の幅 */
  position: fixed; /* スクロールしても固定 */
  top: 0;
  left: 0; /* 左側に配置 */
  height: 100vh; /* 高さを画面いっぱいに */
  overflow-y: auto; /* 縦スクロール */
}

main {
  margin-left: 220px; /* 目次の横にコンテンツを配置 */
  flex-grow: 1;
}
